<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vote for Your Favorite TV Series</h1>
        <form action="/vote" method="post">
            <input type="radio" id="candidate1" name="candidate" value="Game of Thrones">
            <label for="candidate1">Game of Thrones</label><br>
            <input type="radio" id="candidate2" name="candidate" value="Stranger Things">
            <label for="candidate2">Stranger Things</label><br>
            <input type="radio" id="candidate3" name="candidate" value="The Walking Dead">
            <label for="candidate3">The Walking Dead</label><br>
            <button type="submit">Vote</button>
        </form>
        <h2>Current Votes</h2>
        <ul id="votes-list">
            {% for candidate, count in votes.items() %}
                <li>{{ candidate }}: {{ count }}</li>
            {% endfor %}
        </ul>
       <!-- <h2>Admin</h2>
        <form action="/clear" method="post">
            <button type="submit" style="background-color: red;">Clear All Votes</button>
        </form> -->
        <h4>Geographical Distribution</h2>
        <a href="/map" target="_blank">View Map</a>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
